{:names ["tramp" "org" "magit" "dired" "eglot" "eshell"
         "consult" "vertico" "corfu" "embark" "calc" "avy"
         "orderless" "cape" "marginalia" "vterm" "info" "flymake"
         "abbrev" "ace-window" "aggressive-indent" "align" "ansi-color"
         "auctex" "auth-source" "auto-insert" "autorevert" "bbdb" "beacon"
         "bookmark" "browse-url" "calendar" "cider" "clojure-mode"
         "compile" "context-menu" "csv-mode" "cus-edit" "dabbrev"
         "dashboard" "denote" "desktop" "diff-hl" "diff-mode" "diminish"
         "dired-x" "direnv" "doom-modeline" "eat" "ediff" "edit-indirect"
         "editorconfig" "eldoc" "elfeed" "elisp-mode" "emms" "emmet-mode"
         "erc" "ert" "esh-mode" "eww" "expand-region" "fido-mode"
         "filecache" "find-dired" "flycheck" "foldout" "forge" "git-gutter"
         "git-link" "gnus" "grep" "gud" "help-mode" "helpful" "hippie-exp"
         "hideshow" "ibuffer" "icomplete" "ielm" "imenu" "ispell" "ivy"
         "json-mode" "ledger-mode" "log-edit" "lsp-mode"
         "lua-mode" "markdown-mode" "meow" "message" "multiple-cursors"
         "mwheel" "nov" "olivetti" "org-roam"
         "package" "paredit" "pdf-tools" "plantuml-mode" "project" "projectile"
         "transient" "rainbow-delimiters" "recentf" "repeat" "rg" "org-modern"
         "savehist" "saveplace" "shell" "hydra" "smartparens" "so-long"
         "subword" "tab-bar" "tempel" "term" "treesit" "undo-tree"
         "use-package" "vc" "visual-fill-column" "vundo" "web-mode"
         "which-key" "winner" "xref" "yaml-mode"]}
