{:id "scratch"
 :author "hkjels"
 :title "DNV Emacs User Group"
 :description "For people who use Emacs, used to use Emacs, or are curious about it."
 :body ["Bring a question. Share a small discovery. Make yourself at home."]}
